.projects {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;

  &__heading {
    padding-bottom: 5%;
    font: 18px/24px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  &__list {
    justify-content: space-between;
  }

  &__item {
    max-width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5rem;

    &__picture-card {
      transition: all 0.2s linear;
      &:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        transform: scale(1.05);
        z-index: 10;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
      }
      &.card {
        border-radius: 2rem;
      }
      &__image {
        &.card-img-top {
          height: 220px;
          width: fit-content !important;
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
        }
      }
      &__title {
        font: 18px/24px "opensans-bold", sans-serif;
      }
      &__date {
        position: absolute;
        right: 1.5rem;
        font-size: 16px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  }
}
