.projects {
  background: #efe1bd;
  padding-bottom: 5%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;

  &__heading {
    padding-top: 5%;
    padding-bottom: 5%;
    font: 18px/24px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
    text-align: center;
  }

  &__item {
    max-width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5rem;

    &__date {
      font-size: 16px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      padding: 8px 15px 2px 15px;
      position: relative;
      z-index: -500;
      border-top: 5px solid #696969;
      border-radius: 0 0 5px 5px;
      background-color: #696969;
      color: white;
    }

    &__title {
      margin-top: 5%;
      font: 18px/24px "opensans-bold", sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: black;
      text-align: center;
    }
  }

  @media (min-width: 576px) {
    &.portfolio-item {
      margin-bottom: 30px;
    }
  }
}
