@use "scss/mixins/github-corner" as github;

.home {
  min-height: 450px;
  padding: 0;

  &__header {
    &__name {
      font-weight: 600 !important;
      font-size: 3rem;
    }

    &__titles {
      font-size: 2rem;
    }

    &__icon {
      height: 150px;
      width: 150px;
    }
  }

  &__github-corner {
    @include github.animate;
  }
}
