.about {
  background: #1f1f1f;
  color: white;
  overflow: hidden;
  padding: 5% 0;

  &__heading {
    font: 18px/24px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__body {
    padding: 5%;
    &__picture-card {
      background-color: rgba(248, 245, 244, 0.05) !important;
      -webkit-box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
      box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);

      &__image {
        max-height: 300px;
        width: auto !important;
        padding-top: 4rem;

        @media (min-width: 576px) {
          max-height: 350px;
        }
        @media (min-width: 768px) {
          width: 100% !important;
          max-height: unset;
          padding-top: 0;
        }
      }

      &__tech {
        display: flex;
        justify-content: space-evenly;

        &__icon {
          font-size: 5rem;
        }
      }
    }
  }
}
