.about {
  background: #fff;
  overflow: hidden;

  &__heading {
    color: black;
    padding-top: 5%;
    font: 18px/24px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  &__body {
    &__picture-card {
      background: #ffffff;
      display: inline-block;
      margin: 55px 75px 30px;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      transition: all 0.2s linear;
      z-index: 0;
      position: relative;

      &__image {
        display: block;
        max-width: 200px;
      }

      &__tech {
        display: flex;
        justify-content: space-evenly;

        &__icon {
          font-size: 5rem;
          margin-top: 1.5rem;
        }
      }
    }
  }
}
