@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");
@import "node_modules/bootstrap/scss/bootstrap";

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

section {
  overflow: hidden;
  padding: 5% 0;
  color: white;
  background: #222222;
  &:nth-child(odd) {
    background: #191919;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.wave {
  font-size: 160%;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.vertical-timeline-element-date {
  padding: 0 !important;
  margin: 0 !important;
}

.bars {
  width: 95%;
  float: left;
  padding: 0;
  text-align: left;
}

.bars .skills {
  margin-top: 36px;
  list-style: none;
}

.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #ccc;
  height: 42px;
  border-radius: 3px;
}

.bars li em {
  font: 15px "opensans-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  top: -36px;
}

.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 24px;
  background: #313131;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}

.loader-bar-color {
  color: black !important;
}
