@use "scss/mixins/github-corner" as github;

.home {
  min-height: 450px;
  background-color: #e9d5a1;

  &__header {
    h1 {
      font-size: 4rem;
      font-weight: 600 !important;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    &__icon {
      height: 150px;
      width: 150px;
    }

    // &__titles {
    //   height: 50px;
    // }
  }

  &__github-corner {
    @include github.animate;
  }
}
