.contact {
  &__heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 5%;
  }

  &__body {
    &:not(.form-submitted) &__personal-info {
      @media (min-width: 992px) {
        justify-content: normal;
      }
    }
    &__personal-info {
      align-items: center;
      justify-content: space-evenly;

      @media (min-width: 992px) {
        height: 100%;
      }

      &__item {
        height: fit-content;

        &__icon-badge {
          padding: 1rem;
          width: fit-content;
          height: fit-content;
          border: 1px solid grey;
          &__icon {
            font-size: 2rem;
          }
        }
        &__details {
          &__name {
            font-size: 1.5rem;
            font-weight: bold;
          }
          &__text {
            font-size: 1rem;
          }
        }
      }
    }

    &__submitted-toast {
      width: 100% !important;
      font-size: 1.25rem !important;
    }
  }
}
