.timeline-item {
  &__extra-badge-container {
    margin-top: 15px;
  }

  &__main-badge {
    font-size: 13px !important;
    text-align: left !important;
    padding: 5px 8px 5px 8px !important;
    vertical-align: baseline;
    background-color: #ae944f !important;
    color: white;
    font-weight: lighter !important;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  &__experience-badge {
    font-size: 11px !important;
    text-align: left !important;
    padding: 5px 8px 5px 8px !important;
    vertical-align: baseline;
    background-color: #f9f5e9 !important;
    color: black;
    font-weight: lighter !important;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
