.experience {
  background: #efe1bd;

  &__title {
    padding-top: 5%;
    padding-bottom: 5%;
    font: 18px/24px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
    text-align: center;
  }
}
