.experience {
  &__title {
    padding-bottom: 5%;
    font: 18px/24px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  .timeline {
    &__item {
      &:not(.start) {
        .vertical-timeline-element-content {
          background-color: rgb(63 63 63);
          box-shadow: 0 3px 0 #757575;
        }
        .vertical-timeline-element-content-arrow {
          border-right-color: #636363;
        }
      }
    }
  }
}
