.experience {
  &__title {
    padding-bottom: 5%;
    font: 18px/24px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  .vertical-timeline-element-content {
    background-color: rgb(63 63 63);
  }
  .vertical-timeline-element-content-arrow {
    border-right-color: #636363;
  }
}
